<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Pre-Release" value="https://pkgs.dev.azure.com/jjvanzon/1de16010-421a-41a5-90f1-86e9513f2c5b/_packaging/JJs-Pre-Release-Package-Feed/nuget/v3/index.json" />
    <add key="Dev-Feed" value="https://pkgs.dev.azure.com/jjvanzon/JJs-Software/_packaging/JJs-Dev-Package-Feed/nuget/v3/index.json" />
  </packageSources>
</configuration>