<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.business.synthesizer.wishes" type="JJ.Framework.Configuration.Legacy.ConfigurationSectionHandler, JJ.Framework.Configuration.Legacy" />
  </configSections>

  <jj.business.synthesizer.wishes
    bits="32"
    channels="2" 
    samplingRate="48000" 
    audioFormat="Wav"
    interpolation="Line"
    courtesyFrames="4"

    noteLength="0.2"
    barLength="1"
    beatLength="0.25" 
    audioLength="1" 
    leadingSilence="0.25" 
    trailingSilence="0.25"
    
    audioPlayback="true" 
    diskCache="false"
    mathBoost="true" 
    parallelProcessing="true" 
    playAllTapes="false" >

    <logging type="Console" format="{0:HH:mm:ss.fff} [{1}] {2}" />
    
  </jj.business.synthesizer.wishes>
</configuration>