<?xml version="1.0" encoding="utf-8"?>
<!-- DEV LOCAL MACHINE -->
<configuration>
  <configSections>
    <section name="jj.business.synthesizer"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.framework.data"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <!--calculationEngine="Roslyn"-->
  <!--calculationEngine="CalculatorClasses"-->
  <!--calculationEngine="HardCoded"-->
  <!--calculationEngine="ExampleGeneratedCode"-->

  <!--defaultSpeakerSetup="Mono"-->
  <!--defaultSpeakerSetup="Stereo"-->

  <jj.business.synthesizer calculationEngine="Roslyn"
                           includeSymbolsWithCompilation="true"
                           defaultSpeakerSetup="Stereo"
                           defaultSamplingRate="48000"
                           defaultMaxConcurrentNotes="16"
                           nameMaxLength="256"
                           operatorDataMaxLength="512"
                           cachedNoiseSeconds="10"
                           cachedNoiseSamplingRate="48000"
                           audioFileOutputBufferSizeInBytes="1048576"
                           hiddenButInUseValidationEnabled="false"
                           defaultScaleName="Chromatic Scale">
    <defaultMidiMappingGroupNames>
      <string>Midi Mapping 1</string>
    </defaultMidiMappingGroupNames>
  </jj.business.synthesizer>

  <jj.framework.data contextType="JJ.Data.Synthesizer.NHibernate"
                     dialect="SqlServer2008"
                     location="Data Source=.\SQLEXPRESS;Initial Catalog=DEV_SynthesizerDB;User ID=dev;Password=dev;Persist Security Info=True"
                     modelAssembly="JJ.Data.Synthesizer"
                     mappingAssembly="JJ.Data.Synthesizer.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.Synthesizer.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.Synthesizer</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>