<?xml version="1.0" encoding="utf-8" ?>

<!-- DEV MEMORY -->

<configuration>
  <configSections>
    <section name="jj.presentation.synthesizer.winforms" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.presentation.synthesizer.vectorgraphics" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.presentation.synthesizer" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.business.synthesizer" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.framework.data" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.presentation.synthesizer.winforms
    alwaysRecreateDiagram="false"
    defaultCulture="en-US"
    multiThreaded="true"
    audioOutputEnabled="true"
    midiInputEnabled="true"
    executeOperatorMoveActionWhileDragging="true" />

  <jj.presentation.synthesizer.vectorgraphics
      mustShowInvisibleElements="true"
      nodeClickableRegionSizeInPixels="20"
      patchLineSegmentCount="25"
      curveLineSegmentCount="25" />

  <jj.presentation.synthesizer
    patchPlayHackedAudioFileOutputFilePath="WaveFileOutput.wav"
    patchPlayDurationInSeconds="6"
    titleBarExtraText=" (DEV)"
    showAutoPatchPolyphonicEnabled="true" />

  <jj.business.synthesizer
    nameMaxLength="256"
    operatorDataMaxLength="512"
    cachedNoiseSeconds="10"
    cachedNoiseSamplingRate="44100"
    secondsBetweenApplyFilterVariables="0.005" />

  <jj.framework.data
    contextType="Memory"
    location=""
    modelAssembly="JJ.Data.Synthesizer"
    mappingAssembly="JJ.Data.Synthesizer.Memory">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.Synthesizer.Memory</repositoryAssembly>
      <repositoryAssembly>JJ.Data.Synthesizer.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>