<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.business.synthesizer.tests" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.business.synthesizer" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.business.synthesizer.tests>
    <memoryPersistence
      contextType="Memory"
      dialect=""
      location=""
      modelAssembly="JJ.Data.Synthesizer"
      mappingAssembly="JJ.Data.Synthesizer.Memory">
      <repositoryAssemblies>
        <repositoryAssembly>JJ.Data.Synthesizer.Memory</repositoryAssembly>
        <repositoryAssembly>JJ.Data.Synthesizer.DefaultRepositories</repositoryAssembly>
      </repositoryAssemblies>
    </memoryPersistence>

    <databasePersistence
      contextType="JJ.Data.Synthesizer.NHibernate"
      dialect="SqlServer2008"
      location="Data Source=.\SQLEXPRESS;Initial Catalog=DEV_SynthesizerDB;User ID=dev;Password=enteentest0!;Persist Security Info=True"
      modelAssembly="JJ.Data.Synthesizer"
      mappingAssembly="JJ.Data.Synthesizer.NHibernate">
      <repositoryAssemblies>
        <repositoryAssembly>JJ.Data.Synthesizer.NHibernate</repositoryAssembly>
        <repositoryAssembly>JJ.Data.Synthesizer.DefaultRepositories</repositoryAssembly>
      </repositoryAssemblies>
    </databasePersistence>
  </jj.business.synthesizer.tests>


  <jj.business.synthesizer
    calculationMethod="EntityToCalculatorDirectly"
    includeSymbolsWithCompilation="true"
    defaultSpeakerSetup="Mono"
    defaultSamplingRate="44100"
    defaultMaxConcurrentNotes="1" 
    nameMaxLength="256"
    operatorDataMaxLength="512"
    cachedNoiseSeconds="10"
    cachedNoiseSamplingRate="44100"
    secondsBetweenApplyFilterVariables="0.005"
    audioFileOutputBufferSizeInBytes="1048576" />

</configuration>
