[*.cs]
dotnet_style_require_accessibility_modifiers = omit_if_default:none
dotnet_diagnostic.IDE0052.severity = none # IDE0052: Remove unread private members
resharper_private_accessibility_modifier_style = do_not_change
resharper_localizable_element_highlighting = none
resharper_member_can_be_private_global_highlighting = none
resharper_member_can_be_protected_global_highlighting = none
resharper_align_multiline_argument = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_parameter = true
resharper_int_align_assignments = true
resharper_int_align_fields = true
resharper_int_align_invocations = true
resharper_int_align_properties = true
resharper_int_align_switch_expressions = true
resharper_int_align_switch_sections = true
resharper_int_align_tuple_components = true
resharper_int_align_variables = true


# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = suggestion

# CS0661: Type defines operator == or operator != but does not override Object.GetHashCode()
dotnet_diagnostic.CS0661.severity = suggestion
