<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="jj.business.synthesizer.wishes" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

	<jj.business.synthesizer.wishes>
		<nCrunch samplingRateLongRunning="8" />
	</jj.business.synthesizer.wishes>
	
</configuration>
