<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.framework.persistence" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.framework.persistence
    contextType="Memory"
    dialect=""
    location=""
    modelAssembly="JJ.Persistence.Synthesizer"
    mappingAssembly="JJ.Persistence.Synthesizer.Memory">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Persistence.Synthesizer.Memory</repositoryAssembly>
      <repositoryAssembly>JJ.Persistence.Synthesizer.DefaultRepositories</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.persistence>
</configuration>
