<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="jj.business.synthesizer.wishes" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
	  <section name="jj.framework.logging" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
	</configSections>

  <jj.framework.logging type="Debug" />
  
	<!--<jj.framework.logging types="Console;Debug" />--> 

	<jj.business.synthesizer.wishes
		bits="32"
		channels="1" 
		samplingRate="48000" 
		audioFormat="Wav"
		interpolation="Line"
		courtesyFrames="2"

		noteLength="0.2"
		barLength="1"
		beatLength="0.25" 
		audioLength="1" 
		leadingSilence="0.25" 
		trailingSilence="0.25"
		
		audioPlayback="true" 
		diskCache="false"
		mathBoost="true" 
		parallelProcessing="true" 
		playAllTapes="false"
		
		leafCheckTimeOut="120"
		timeOutAction="Continue"
		fileExtensionMaxLength="4" 
		longTestCategory="Long">

		<nCrunch 
			audioPlayback="false" 
			samplingRate="10" 
			samplingRateLongRunning="5" 
			impersonationMode="">
			<logging type="Debug" />
      <!--<logging categories="Actions" type="Debug" />-->
		</nCrunch>

		<azurePipelines 
			audioPlayback="false"
			samplingRate="300" 
			samplingRateLongRunning="80" 
			impersonationMode="">
			<logging categories="Actions" type="Console" />
		</azurePipelines>

	</jj.business.synthesizer.wishes>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>

	</runtime>
</configuration>