<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.presentation.synthesizer.winforms"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.presentation.synthesizer.vectorgraphics"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.presentation.synthesizer.naudio"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.presentation.synthesizer"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.business.synthesizer"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.framework.data"
             type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.presentation.synthesizer.winforms defaultCulture="en-US"
                                        executeOperatorMoveActionWhileDragging="false"
                                        playActionOutputFilePath="WaveFileOutput.wav"
                                        playActionDurationInSeconds="7"
                                        mustHandleMainFormActivated="false"
                                        drawCoordinateIndicatorsForPrimitives="false"
                                        drawCoordinateIndicatorsForComposites="false"
                                        delayedControlInvoker_DelayInMilliseconds="25" />

  <jj.presentation.synthesizer.vectorgraphics nodeClickableRegionSizeInPixels="20"
                                              patchLineSegmentCount="30"
                                              curveLineSegmentCount="25" />

  <jj.presentation.synthesizer.naudio audioOutputEnabled="true"
                                      midiInputEnabled="true" />

  <jj.presentation.synthesizer idsVisible="false"
                               playActionOutputFilePath="WaveFileOutput.wav"
                               playActionDurationInSeconds="7"
                               titleBarExtraText=" (DEV Latest)" />

  <!--calculationMethod="Roslyn"-->
  <!--calculationMethod="CalculatorClasses"-->
  <!--calculationMethod="HardCoded"-->
  <!--calculationMethod="ExampleGeneratedCode"-->

  <!--defaultSpeakerSetup="Mono"-->
  <!--defaultSpeakerSetup="Stereo"-->

  <jj.business.synthesizer calculationMethod="Roslyn"
                           includeSymbolsWithCompilation="true"
                           defaultSpeakerSetup="Stereo"
                           defaultSamplingRate="48000"
                           defaultMaxConcurrentNotes="42"
                           nameMaxLength="256"
                           operatorDataMaxLength="512"
                           cachedNoiseSeconds="10"
                           cachedNoiseSamplingRate="48000"
                           audioFileOutputBufferSizeInBytes="1048576"
                           hiddenButInUseValidationEnabled="false"
                           defaultScaleName="Chromatic Scale">
    <defaultMidiMappingGroupNames>
      <string>Midi Mapping 1</string>
    </defaultMidiMappingGroupNames>
  </jj.business.synthesizer>

  <jj.framework.data contextType="JJ.Data.Synthesizer.NHibernate"
                     dialect="SqlServer2008"
                     location="Data Source=.\SQLEXPRESS;Initial Catalog=DEV_SynthesizerDB;User ID=dev;Password=dev;Persist Security Info=True"
                     modelAssembly="JJ.Data.Synthesizer"
                     mappingAssembly="JJ.Data.Synthesizer.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.Synthesizer.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.Synthesizer</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>

  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <!--<dependentAssembly>
      <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" />
      <bindingRedirect oldVersion="1.2.1.0" newVersion="1.2.3.0" />
    </dependentAssembly>-->
  </runtime>
</configuration>