<?xml version="1.0" encoding="utf-8"?>

<!-- DEV LOCAL MACHINE -->

<configuration>
  <configSections>
    <section name="jj.business.synthesizer" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
    <section name="jj.framework.data" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration"/>
  </configSections>

  <!--calculationMethod="Roslyn"-->
  <!--calculationMethod="Roslyn_WithUninlining_WithRefParameters"-->
  <!--calculationMethod="Roslyn_WithUninlining_WithNormalAndOutParameters"-->
  <!--calculationMethod="CalculatorClasses"-->
  <!--calculationMethod="HardCoded"-->
  <!--calculationMethod="ExampleGeneratedCode"-->

  <!--defaultSpeakerSetup="Mono"-->
  <!--defaultSpeakerSetup="Stereo"-->

  <jj.business.synthesizer
    calculationMethod="Roslyn"
    includeSymbolsWithCompilation="true"
    defaultSpeakerSetup="Stereo"
    defaultSamplingRate="44100"
    defaultMaxConcurrentNotes="16"
    nameMaxLength="256"
    operatorDataMaxLength="512"
    cachedNoiseSeconds="10"
    cachedNoiseSamplingRate="44100"
    secondsBetweenApplyFilterVariables="0.005"
    audioFileOutputBufferSizeInBytes="1048576"
    hiddenButInUseValidationEnabled="false" />

  <jj.framework.data
    contextType="JJ.Data.Synthesizer.NHibernate"
    dialect="SqlServer2008"
    location="Data Source=.\SQLEXPRESS;Initial Catalog=DEV_SynthesizerDB;User ID=dev;Password=enteentest0!;Persist Security Info=True"
    modelAssembly="JJ.Data.Synthesizer"
    mappingAssembly="JJ.Data.Synthesizer.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.Synthesizer.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.Synthesizer</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
