<?xml version="1.0" encoding="utf-8"?>

<!-- DEV PRIVATE NETWORK -->

<configuration>
  <configSections>
    <section name="jj.framework.data" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration"/>
    <section name="jj.business.synthesizer" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections> 
  
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <jj.business.synthesizer
    nameMaxLength="255"
    patchCalculatorType="OptimizedPatchCalculator" />

  <jj.framework.data
    contextType="JJ.Data.Synthesizer.NHibernate"
    dialect="SqlServer2008"
    location="Data Source=192.168.178.73\SQLEXPRESS,1433;Network Library=DBMSSOCN;Initial Catalog=DEV_SynthesizerDB;User ID=dev;Password=enteentest0!;Persist Security Info=True"
    modelAssembly="JJ.Data.Synthesizer"
    mappingAssembly="JJ.Data.Synthesizer.NHibernate">
    <repositoryAssemblies>
      <repositoryAssembly>JJ.Data.Synthesizer.NHibernate</repositoryAssembly>
      <repositoryAssembly>JJ.Data.Synthesizer</repositoryAssembly>
    </repositoryAssemblies>
  </jj.framework.data>
  
</configuration>
